<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h3>Стек технологий:</h3>
        </li>
        <li class="list-group-item">
          Python, Unittest
        </li>
        <li class="list-group-item">
          Django Framework, DRF
        </li>
        <li class="list-group-item">
           Docker, Docker-compose
        </li>
        <li class="list-group-item">
          PostgreSQL, Git
        </li>
        <li class="list-group-item">
          Git Actions(workflows)
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        <h3>Изучены следующие темы:</h3>
        <ul> 
          <li>2022 - DevOps и Continuous Integration - Яндекс.Практикум, В рамках курса "Python разработчик"</li>
          <li>2022 - Основы структуры данных и сортировки - Яндекс.Практикум, В рамках курса "Python разработчик"</li>
          <li>2022 - API: Django Rest Framework - Яндекс.Практикум, В рамках курса "Python разработчик"</li>
          <li>2021 - Backend на Django - Яндекс.Практикум, В рамках курса "Python разработчик"</li>
          <li>2021 - Основы Python - Яндекс.Практикум, В рамках курса "Python разработчик"</li>
        <ul>
      </p>
    </article>
  </div>
</div>
{% endblock %}
